.section-center {
	max-width: 50rem;
	margin: 0 auto;
	padding: 0 0.5rem;
}

.head {
	text-align: center;
	font-size: 20px;
	padding: 6px;
	margin-bottom: 17px;
}

.dashboardTitleText {
	font-size: 2.5rem;
	text-align: center;
	font-weight: 100;
	margin-top: 7rem;
	margin-bottom: 1rem;
}

.btn {
	color: #6b5b95af;
	background: none;
	padding: 0.4rem 1rem;
	font-size: 1rem;
	cursor: pointer;
	border-radius: 0.3rem;
	outline: none;
	border: 2px solid #6b5b95af;
	font-weight: bold;
	transition: 0.2s;
}
.btn:hover {
	background-color: #6b5b95;
	color: white;
}

.grow-wrap {
	margin: 0.5rem;
}

.userPost {
	width: 100%;
	outline: none;
	background: transparent;
	border: none;
	border-bottom: 3px solid #6b5b95;
	color: white;
	font-size: 1.1rem;
	resize: none;
}

.postHeadingAndSubmitBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
}

.postHeading {
	font-size: 1.4rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: rgb(225, 225, 225);
}

.form {
	margin: 0.5rem auto;
	margin-bottom: 2rem;
	border-radius: 0.5rem;
	padding: 0.6rem;
	text-align: center;
	/* background-color: #282828; */
	border: 2px solid #353535;
	box-shadow: 3px 3px 15px black;
}

@media screen and (max-width: 768px) {
	.section-center,
	.dashboardTitleText {
		zoom: 0.8;
	}
	.userPostListItemText {
		font-size: 1.2rem;
	}
}
