.App {
	height: 100vh;
	color: white;
	/* background-color: #f0f4fb; */
}

.appForm {
	width: 100%;
	padding: 2rem 3rem;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* .iconText {
	
} */

.navbarLogo {
	width: 3.5rem;
	vertical-align: middle;
}

.logoName {
	margin-left: 1rem;
	font-size: 2rem;
	font-family: 'Zen Tokyo Zoo', cursive;
	vertical-align: middle;
}

.pageSwitcher {
	vertical-align: middle;
	display: flex;
	justify-content: flex-end;
}

.pageSwitcherItem {
	color: #9da6b1;
	position: relative;
	text-transform: uppercase;
	padding: 1rem 0.1rem;
	margin: 0 0 0 2.5rem;
	cursor: pointer;
	font-size: 0.9em;
	border: none;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
}

/* .pageSwitcherItem::after {
	content: '';
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	height: 0.175rem;
	background-color: #6b5b95;
}

.UHA::after {
	transform: scale(0, 1);
}

.UHA:hover {
	transform: scale(1, 1);
} */

.pageSwitcherItem-active {
	border-bottom: 1px solid #6b5b95;
	color: white;
}

@media screen and (max-width: 768px) {
	.appForm {
		padding: 2rem 1rem;
	}

	/* .navbar {
		padding: 2rem 3rem;
	} */
}
