.App {
	height: 100vh;
	color: white;
	background-color: #12130f;
	/* background-color: #f0f4fb; */
}

.appForm {
	width: 100%;
	padding: 25px 40px;
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* .iconText {
	
} */

.navbarLogo {
	width: 3.5rem;
	vertical-align: middle;
}

.logoName {
	margin-left: 1rem;
	font-size: 2rem;
	font-family: 'Zen Tokyo Zoo', cursive;
	vertical-align: middle;
}

.pageSwitcher {
	vertical-align: middle;
	display: flex;
	justify-content: flex-end;
}

.pageSwitcherItem {
	color: #9da6b1;
	text-transform: uppercase;
	padding: 10px 2px;
	margin: 0 25px;
	cursor: pointer;
	font-size: 0.9em;
	border: none;
	outline: none;
	text-decoration: none;
	vertical-align: middle;
}

.pageSwitcherItem-active {
	border-bottom: 1px solid #6b5b95;
	color: white;
}
