@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #12130f;
}

body::-webkit-scrollbar {
	width: 0.4rem;
}

body::-webkit-scrollbar-thumb {
	background-color: #6b5b95af;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #6b5b95;
}

.mr-20 {
	margin-right: 20px !important;
}
